body{
    margin: 0;
}

#divisoria{
    width: 100%;
    background-color: red;
    height: 5px;

    animation-name: barra;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#divisoria:hover{
    animation-play-state: paused;
}

@keyframes barra{
    from{
        width: 0px;
    }
    to{
        width: 100%;
    }
}


#center{
    height: 50px;
    width: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50px;
    border-top-style: solid;
    border-top-color: rgba(255, 0, 0, 0.66);
    border-top-width: 10px;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
    z-index: 10;
}
#center1{
    height: 50px;
    width: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50px;
    border-top-style: solid;
    border-top-color: rgba(255, 68, 0, 0.66);
    border-top-width: 10px;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;

    z-index: 9;
}
#center2{
    height: 50px;
    width: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 255, 0.66);
    border-top-width: 10px;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    z-index: 8;
}
#center3{
    height: 50px;
    width: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50px;
    border-top-style: solid;
    border-top-color: rgba(0, 128, 0, 0.66);
    border-top-width: 10px;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    z-index: 7;
}
#center4{
    height: 50px;
    width: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 0, 0.66);
    border-top-width: 10px;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    z-index: 6;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#bola{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    position: absolute;
    bottom: 0px;
    background-position-x: 2.5px;
    background-position-y: 2.5px;

    animation-name: bola;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bola {
    0%{
        right: calc(100% - 50px);
        transform: rotate(0deg);
        bottom: 0%;
    }
    13%{
        bottom:0%;
    }
    15%{
        bottom:75%;
    }
    17%{
        bottom:0%;
    }
    23%{
        bottom:0%;
    }
    25%{
        bottom:50%;
    }
    27%{
        bottom:0%;
    }
    75%{
        bottom:0%;
    }
    77%{
        bottom:25%;
    }
    79%{
        bottom:0%;
    }
    100%{
        right: 0%;
        transform: rotate(720deg);
        bottom: 0%;
    }
}